<div class="container">
  <div class="grid-container">
    <div class="column column-1">
      <div class="column-header">New Task</div>
      <div *ngFor="let task of this._taskService.allTask">
        <div class="task-container" *ngIf="task.tag == 'New Task'">
          <app-task-card [task]="task"></app-task-card>
        </div>
      </div>
    </div>
    <div class="column column-2">
      <div class="column-header">In Progress</div>
      <div *ngFor="let task of this._taskService.allTask">
        <div class="task-container" *ngIf="task.tag == 'In Progress'">
          <app-task-card [task]="task"></app-task-card>
         
        </div>
      </div>
    </div>
    <div class="column column-3">
      <div class="column-header">In Testing</div>
      <div *ngFor="let task of this._taskService.allTask">
        <div class="task-container" *ngIf="task.tag == 'In Test'">
          <app-task-card [task]="task"></app-task-card>
        </div>
      </div>
    </div>
    <div class="column column-4">
      <div class="column-header">Closed</div>
      <div *ngFor="let task of this._taskService.allTask">
        <div class="task-container" *ngIf="task.tag == 'Close'">
          <app-task-card [task]="task"></app-task-card>
          
        </div>
      </div>
    </div>
  </div>
</div>

