.header{
    background-color: #000000;
    padding: 15px 0;
    color: #ffffff;
}
.header-text{
    margin: 0 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;

}

.add-task{
    margin: 10px 50px;
    cursor: pointer;
    display: inline;
}

.close-modal{
    cursor: pointer;
    position:absolute;
    right: 2%;
    font-size: 20px;
}

.modal-form{
    margin-top: 15px;
}

.submit-btn{
    float: right;
}